input, textarea, button {
	color: inherit;
	line-height: normal;
}

button, input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	&:focus, &:active {
		box-shadow: none !important;
	}
}

button,label{
	cursor: pointer;
}


[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

