.ccd-animate-h2{
	animation-duration: 3600s;
	animation-iteration-count: 1;
}
.ccd-animate-h1{
	animation-duration: 60s;
	animation-iteration-count: 6;
}

.ccd-animate-h2{
	animation-duration: 3600s;
	animation-iteration-count: 1;
}
.ccd-animate-h1{
	animation-duration: 60s;
	animation-iteration-count: 6;
}

